* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e6e7;
}

div#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%; width: 600px;
}

.date {
    margin-top: 120px;
}

#input-field {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.to-do-input {
    height: 40px; width: 350px;
    padding: 5px 10px;
    font-size: 1em;
    outline: none; border: none;
    background: transparent;
    border-bottom: 1px solid #b9b4b4;

}

.add-task {
    width: 40px; height: 40px;
    position: relative;
    background: url(./icons/add-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    outline: none; border: none;
    cursor: pointer; border-radius: 25px;
    margin-left: 5px;
    transition: 0.2s ease all;
}

.add-task:active {
    transform: scale(.93);
}

#task-field {
    padding: 25px;
}

ul#task-list {
    list-style: none;
    width: 550px;
}

ul#task-list li {
    width: 550px; padding: 20px;
    margin: 10px 0;
    word-break: break-all;
    background-color: #fff;
    box-shadow: 0 2px 14px rgba(0,0,0,.1);
    transition: .2s ease all;
    border-radius: 20px;
}

ul#task-list li:hover {
    background-color: #e4dfdf;
}

button.del-btn {
    position: relative;
    padding: 10px;
    top: -4px; left: 10px;
    background: transparent;
    outline: none; border: none;
    cursor: pointer;
    background-image: url(./icons/trash-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s ease all;
}

.del-btn:active {
    transform: scale(1.2);
}

@media (max-width: 430px)  {
    .to-do-input {
        width: 300px;
    }

    ul#task-list {
        
        width: 350px;
    }

    ul#task-list li {
        width: 350px;
    }
}